/* Основные стили */
* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, serif;
    background-attachment: fixed;
    background-color: #fbd0e1;
    background-image: url('static/img/fon1.png');
    /*background-image: url('static/img/fon2.webp');*/
    /*background-image: url('static/img/fon3.avif');*/
    /*background-image: url('static/img/fon4.jpg');*/
    /*background-image: url('static/img/fon5.jpg');*/
    /*background-image: url('static/img/fon6.jpg');*/
    color: #1e1f22;
    margin: 0;
    padding: 0;
}
.shadow {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
#main_block {
    margin: 0 auto;
    background-color: rgba(236, 88, 146, 0.63);
    width: 1024px;
}
h1 {
    text-align: center;
    background-color: #f396ba;
    color: #1e1f22;
    font-size: 4em;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    background-color: #fabcce;
    color: #1e1f22;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #715312;
}

a:hover {
    color: #fcc1d3;
}


div img {
    width: 100%;
    padding: 5%;
}
.container {
     display: flex;
     justify-content: space-between; /* Расстояние между блоками */
     gap: 2px; /* Отступы между блоками (современный способ) */
}

.box {
     flex: 1; /* Равное распределение пространства */
     padding: 20px;
     background-color: #fabcce
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}
.top_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 300px;
}
.top_menu_items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9757d;
    height: 140px;
    width: 140px;
    border-radius: 70px;
}
.top_menu_items:hover {
    color: #fcc1d3;
    background-color: #c85173;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
.selected {
    background-color: #f396ba;

}

#Reserve {
    display: flex;
    justify-content: center;
    margin: 10px auto 40px auto;
    background-color: #fabcce;
    height: 800px;
    width: 100%;
    border: solid 1px mediumvioletred;

}
#reserve_button {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 85%;
    left: 50%;
    text-align: center;
    background-color: #e9757d;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    transform: translate(-50%, -50%);
}
#reserve_button:hover {
    color: #fcc1d3;
    background-color: #c85173;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    color: #fcc1d3;
}

/*==========================*/
#address_id {
    text-align: center;
    height: 600px;
    line-height: 1.5;
    font-size: 2em;
    color: #2a2010;
}

/*========= при изменение размера экрана =================*/
/*ноутбук планшет*/
@media (max-width: 1024px)	{
    h1 {
        font-size: 3em;
        margin-top: 1px;
    }
    #main_block {
        width: 800px;
    }

}

/*смартфон*/
@media (max-width: 799px)	{
    body {
        /*background: #fbd0e1 fixed;*/
        color: #1e1f22;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        margin-top: 1px;
    }
    .top_menu_items {
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
    #main_block {
        width: 100%;
    }
    .container {
         display: block;
    }


}




