/* Основные стили */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8c7b6e;
    color: #644926;
    margin: 0;
    padding: 0;
}

.page-header h1 {
    text-align: center;
    color: #f6dcb5;
    font-size: 2em;
    margin-top: 50px;
}

p {
    text-align: center;
    color: #4a3314;
    font-size: 1em;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

nav a {
    text-decoration: none;
    color: #eeb85a;
    transition: color .3s ease-in-out;
}
#center_menu {
    font-size: 1.3em;
    margin-bottom: 10px;
}

nav a:hover {
    color: #ffdfb6;
}

.menu-item {
    width: 45%;
    float: left;
    margin: 20px;
    /*margin-bottom: 20px;*/
    padding: 20px;
    background-color: #e6d9b9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}
#center_menu{
    width: 80%;
}
div img {
    width: 60%;
    padding: 5%;
}



#contact-info address {
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
    color: #2a2010;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #dcdcdc;
    padding: 10px 0;
    color: #333;
}
