/* Основные стили */
* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, serif;
    background-color: #fbd0e1;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.page-header h1 {
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    margin-top: 50px;
}

p {
    text-align: center;
    color: #1e1f22;
    font-size: 2em;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

nav a {
    text-decoration: none;
    color: #c85173;
    transition: color .3s ease-in-out;
}
#center_menu {
    font-size: 1.3em;
    margin-bottom: 10px;
}

nav a:hover {
    color: #fcc1d3;
}

.menu-item {
    width: 45%;
    float: left;
    margin: 20px;
    /*margin-bottom: 20px;*/
    padding: 20px;
    background-color: #fabcce;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}
#center_menu{
    width: 80%;
}
div img {
    width: 100%;
    padding: 5%;
}



#contact-info address {
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
    color: #2a2010;
}

#Reserve {
    display: flex;
    justify-content: center;
    background-color: #fabcce;
    margin: 5%;
    height: 800px;
    width: 90%;

}

#reserve_button {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 85%;
    left: 50%;
    text-align: center;
    background-color: #51c851;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    transform: translate(-50%, -50%);
}

footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #dcdcdc;
    padding: 10px 0;
    color: #333;
}


/*==========================*/
.container {
     display: flex;
     justify-content: space-between; /* Расстояние между блоками */
     gap: 20px; /* Отступы между блоками (современный способ) */
     border-radius: 10px
}

.box {
     flex: 1; /* Равное распределение пространства */
     padding: 20px;
     background-color: #fabcce;
     border: 10px solid rgb(255, 255, 255);
     border-radius: 20px

}

